{{- $page := .page -}}
{{- $canonical := .canonical -}}
{{- $author := site.Params.author -}}
{{- $website := dict
  "@type" "WebSite"
  "url" site.Home.Permalink
  "name" site.Title
  "description" (strings.TrimSpace (site.Params.description | default ""))
  "inLanguage" "zh-CN"
-}}
{{- with $author -}}
  {{- $website = merge $website (dict "publisher" (dict "@type" "Person" "name" .)) -}}
{{- end -}}
{{- $items := slice $website -}}
{{- if and (eq $page.Kind "page") (eq $page.Section "posts") -}}
  {{- $article := dict
    "@type" "Article"
    "headline" $page.Title
    "url" $canonical
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" $canonical)
    "datePublished" (time.Format "2006-01-02T15:04:05Z07:00" $page.PublishDate)
    "dateModified" (time.Format "2006-01-02T15:04:05Z07:00" $page.Lastmod)
    "inLanguage" "zh-CN"
  -}}
  {{- with $author -}}
    {{- $article = merge $article (dict "author" (dict "@type" "Person" "name" .)) -}}
  {{- end -}}
  {{- with .description -}}
    {{- $article = merge $article (dict "description" .) -}}
  {{- end -}}
  {{- with .image -}}
    {{- $article = merge $article (dict "image" (slice .)) -}}
  {{- end -}}
  {{- $items = $items | append $article -}}
{{- end -}}
<script type="application/ld+json">{{ $items | jsonify | safeJS }}</script>
