{{- $pages := partial "data/public-posts.html" . -}}
{{- if eq .Kind "term" -}}
  {{- $pages = partial "data/sort-posts.html" .RegularPages -}}
{{- end -}}
{{- $pager := .Paginate $pages 12 -}}
{{- $key := printf "night-list-context-%d" $pager.PageNumber -}}
{{- $context := .Store.Get $key -}}
{{- if not $context -}}
  {{- $listId := "home" -}}
  {{- if eq .Kind "term" -}}
    {{- $listId = printf "tag:%s" .Data.Term -}}
  {{- else if eq .Kind "section" -}}
    {{- $listId = .Section -}}
  {{- end -}}
  {{- $context = dict
    "page" .
    "pages" $pages
    "pager" $pager
    "listId" $listId
    "buildId" (partial "data/build-id.html" .)
    "count" (len $pages)
    "currentURL" $pager.URL
  -}}
  {{- .Store.Set $key $context -}}
{{- end -}}
{{- return $context -}}
