{{ if gt .count 0 }}
  {{- $loadMore := i18n "pagination.loadMore" -}}
  <nav
    class="list-pagination"
    aria-label="{{ i18n "pagination.nav" }}"
    data-pagination
  >
    {{ with .pager.Prev }}
      <a href="{{ .URL }}" rel="prev">{{ i18n "pagination.prev" }}</a>
    {{ end }}
    {{ with .pager.Next }}
      <a href="{{ .URL }}" rel="next" data-next>{{ i18n "pagination.next" }}</a>
    {{ end }}
    <button type="button" data-load-more hidden>{{ $loadMore }}</button>
    {{ with .pager.Next }}
      <span data-list-end hidden>{{ i18n "pagination.allShown" }}</span>
    {{ else }}
      <span data-list-end>{{ i18n "pagination.allShown" }}</span>
    {{ end }}
  </nav>
{{ end }}
