{{- $body := .Content -}}
{{- $refs := .Store.GetSortedMapValues "night-refs" -}}
{{- $notes := .Store.GetSortedMapValues "night-notes" -}}
{{- $containers := .Store.GetSortedMapValues "night-refers" | default (slice) -}}
{{- if gt (len $containers) 1 -}}
  {{- errorf "Only one refers container is allowed (%s)" .Params._night.sourcePath -}}
{{- end -}}
{{- $seen := slice -}}
{{- $backrefIcon := partial "article/backref-icon.html" . | strings.TrimSpace -}}
{{- range $notes -}}
  {{- if in $seen .num -}}
    {{- errorf "Duplicate refer number %s (%s)" .num .position -}}
  {{- end -}}
  {{- $seen = $seen | append .num -}}
  {{- $links := slice -}}
  {{- $num := .num -}}
  {{- range $refs -}}
    {{- if eq .num $num -}}
      {{- $index := add (len $links) 1 -}}
      {{- $label := i18n "references.backref" (dict "Num" $num "Index" $index) -}}
      {{- $links = $links | append (printf `<a class="fn-backref" href="#%s" aria-label="%s" data-search-exclude>%s%d</a>` .id $label $backrefIcon $index) -}}
    {{- end -}}
  {{- end -}}
  {{- if and (not .noref) (not $links) -}}
    {{- errorf "refer %s has no fnref; set noref=true for additional reading (%s)" .num .position -}}
  {{- end -}}
  {{- if .noref }}{{ $links = slice }}{{ end -}}
  {{- $body = replace $body .placeholder (delimit $links " ") -}}
{{- end -}}
{{- range $refs -}}
  {{- if not (in $seen .num) -}}
    {{- errorf "fnref %s has no refer target (%s)" .num $.Params._night.sourcePath -}}
  {{- end -}}
{{- end -}}
{{- return ($body | safeHTML) -}}
