{{ define "main" }}
  <article class="standalone-page friends-page">
    <header class="page-heading">
      <div>
        <h1>{{ .Title }}</h1>
        {{ with .Params.description }}
          <p class="page-description">{{ . }}</p>
        {{ end }}
      </div>
    </header>
    <div class="prose">{{ partial "article/body.html" . }}</div>
    {{ if not (.Store.GetSortedMapValues "night-friends") }}
      {{ partial "friends/grid.html" . }}
    {{ end }}
    {{ if site.Params.comments.friends }}
      {{ partial "article/comments.html" . }}
    {{ end }}
  </article>
{{ end }}
