{{- $text := partial "data/summary.html" . -}}
{{- $tags := slice -}}
{{- range .GetTerms "tags" -}}
  {{- $tags = $tags | append (dict "label" .LinkTitle "url" .RelPermalink) -}}
{{- end -}}
{{- $readingMinutes := .ReadingTime -}}
{{- if and (gt (len (strings.TrimSpace .RawContent)) 0) (lt $readingMinutes 1) -}}
  {{- $readingMinutes = 1 -}}
{{- end -}}
{{- $publishDate := time.Format "2006-01-02T15:04:05.999999999Z07:00" .PublishDate -}}
{{- $lastmod := time.Format "2006-01-02T15:04:05.999999999Z07:00" .Lastmod -}}
{{- $displayTime := .PublishDate -}}
{{- if .Params._night.updated -}}
  {{- $displayTime = .Lastmod -}}
{{- end -}}
{{- $displayDate := time.Format "2006 / 01 / 02" $displayTime.Local -}}
{{- $view := dict
  "page" .
  "url" .RelPermalink
  "absoluteURL" .Permalink
  "stableId" (crypto.SHA256 .RelPermalink)
  "title" .Title
  "rank" .Params._night.rank
  "publishDate" $publishDate
  "lastmod" $lastmod
  "displayDate" $displayDate
  "displayDateKind" (cond .Params._night.updated "updated" "published")
  "summaryText" $text.summaryText
  "cardExcerpt" $text.cardExcerpt
  "heroExcerpt" $text.heroExcerpt
  "readingMinutes" $readingMinutes
  "tags" $tags
  "cover" (partial "data/image.html" .)
  "text" $text
-}}
{{- return $view -}}
