{{- $body := partial "article/body.html" . -}}
{{- $summary := strings.TrimSpace (.Description | default "") -}}
{{- if not $summary }}
  {{ $summary = partial "data/clean-text.html" (dict "html" .Summary "summary" true) }}
{{ end -}}
{{- $card := $summary -}}
{{- $hero := $summary -}}
{{- if gt (strings.RuneCount $summary) 110 }}
  {{ $card = printf "%s…" (substr $summary 0 109) }}
{{ end -}}
{{- if gt (strings.RuneCount $summary) 60 }}
  {{ $hero = printf "%s…" (substr $summary 0 59) }}
{{ end -}}
{{- return (dict "summaryText" $summary "cardExcerpt" $card "heroExcerpt" $hero "content" (partial "data/clean-text.html" (dict "html" $body "summary" false))) -}}
