.theme-control {
  display: none;
}

[data-js='ready'] .theme-control {
  display: block;
}

.theme-icon {
  display: none;
}

[data-theme-mode='light'] .theme-icon-sun,
[data-theme-mode='dark'] .theme-icon-moon,
[data-theme-mode='system'] .theme-icon-system {
  display: block;
}
