{{- $title := .Get "title" | default (i18n "shortcode.references") -}}
{{- .Page.Store.SetInMap "night-refers" (partial "data/shortcode-key.html" .) (dict "title" $title "position" (printf "%s" .Position)) -}}
{{- $inner := .Inner -}}
<section
  class="footnotes"
  id="night-notes-{{ .Page.File.UniqueID }}"
  data-references
>
  <h2 class="footnotes-title">
    <span class="fn-icon" aria-hidden="true" data-search-exclude>¶</span
    >{{ $title }}
  </h2>
  <ol class="footnotes-list">
    {{ $inner }}
  </ol>
</section>
