<!doctype html>
<html lang="zh-CN" data-entry="on">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="{{ if .IsHome }}home-page{{ end }}">
    <a class="skip" href="#main">{{ i18n "nav.skipToContent" }}</a>
    {{ partial "header.html" . }}
    <main
      id="main"
      {{- if and .IsPage (eq .Section "posts") }}
        class="article-layout"
      {{- end }}
      tabindex="-1"
    >
      {{- block "main" . }}{{ end -}}
    </main>
    {{ partial "footer.html" . }}
    <script type="application/json" data-i18n>
      {{- partial "i18n/strings.html" . | jsonify | safeJS -}}
    </script> {{ partial "dialogs.html" . }}
  </body>
</html>
